body {
	padding: 10px;
}

h1 {
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	color: blue;
}

#dados {
	margin-left: 30px;
	list-style-type: square;
}

table,
tr,
td,
th {
	padding: 5px;
	border: 1px solid gray;
	margin-bottom: 30px;
	margin-top: 30px;
}
table {
	text-align: center;
}

th {
	background-color: #ddd;
}

img {
	border-radius: 50%;
	margin-right: 50px;
	height: 150px;
	width: 150px;;
}

.personal-data {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.emphasis {
	font-weight: bold;
	color: darkblue;
}

.delete-button {
	color: white;
	font-weight: bold;
	background-color: darkred;
	margin-right: 10px;
	border-radius: 50%;
}

.clickable {
	cursor: pointer;
}